<!DOCTYPE html>
<html>

<head>
    <title> {title} </title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="manifest" href="manifest.json?appver=730">
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="apple-touch-icon" sizes="180x180" href="app/images/icon.png">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="default">

    {LIBRARIES}
    {HEAD}

    <!-- tags the framework -->
    <link href="app/lib/include/admin.min.css?appver=730" rel="stylesheet" type="text/css" media="screen">
    <link rel="stylesheet" href="app/templates/{template}/css/AdminLTE.min.css">
    <link rel="stylesheet" href="app/templates/{template}/css/skins/_all-skins.min.css">

    <!-- tags custom layout -->
    <link href="//fonts.googleapis.com/css?family=Work+Sans:100,200,300,400,500,600,700,800,900&display=swap"
        rel="stylesheet">
    <link href="app/templates/{template}/assets/css/style-starter.css" rel="stylesheet" type="text/css" media="screen">
    <link href="app/templates/{template}/custom.css" rel="stylesheet" type="text/css" media="screen">
    <link rel="stylesheet" href="app/templates/{template}/assets/css/style-liberty.css">
    
    <script>
        $(function () {
            __adianti_set_language('{lang}');
            __adianti_set_debug({
                debug
            });
        });
    </script>
</head>

<body>

    <div id="adianti_div_content"></div>
    <div id="adianti_online_content"></div>
    <div id="adianti_online_content2"></div>
    <!-- /#wrapper -->


    <script src="app/templates/{template}/assets/js/owl.carousel.js"></script>
</body>

</html>